<div class="chat-room-container">
  <h2>{{getReceiverName()}}</h2>
  

  <div class="messages" #chatContainer>
    <div *ngFor="let msg of messages()" class="message" [ngClass]="{ 'own-message': msg.senderId === userId }">
      <!-- <strong>{{ msg.senderName ? msg.senderName : msg.senderEmail }}:</strong> -->
      {{ msg.message }}
      <div class="timeStamp">
        {{msg.timestamp?.toDate() | date: getDateFormat(msg.timestamp)}}
      </div>
    </div>
  </div>

  <form (ngSubmit)="sendMessage()" class="chat-form">
    <input
      type="text"
      [(ngModel)]="newMessage"
      name="message"
      required
      placeholder="Type your message..."
      class="chat-input"
    />
    <button type="submit" [disabled]="!newMessage.trim()">Send</button>
  </form>
</div>
